
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
   <form method="POST">
    <% @team.each do |k, v| %>
    <!-- <%if "#{k}" == "Team Name:"%> -->
    <h1><%="#{k} #{v}"%></h1>
    <% end %>
    <!-- <% end %> -->
  </form>

 </body>
</html>
